@font-face
{
	font-family: FORTE;
	src: url(FORTE.TFF);
}

body {
	margin:0;
}

header {
	background: #999;
	color:white;
	padding: 15px 15px 0px 15px;
}

header h1 {
	margin: 0;
	margin-right: 15px;
	display: inline;
	font-family: FORTE;
	font-size: 40px;
	color: blue;
	background-color: white;
	border-radius: 5px;
	padding: 5px 10px 0px 10px;

}

nav ul {
	margin: 0;
	display:inline;
	padding: 0px 0px 0px 15px;
}

nav ul li {
	background: black;
	display:inline-block;
	/*---You give them a fixed width so that you can do more with it---*/
	list-style-type: none;
	padding: 5px 15px;
	border-radius: 3px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

header nav ul li a:hover {
	color: gray;
}

/*
footer {
	font-family: Verdana;
	font-size: 8px;
	float: right;
	clear: both;
}*/

.row:after { 
	clear: both;
	content: " ";
	display: table;
}

.col {
	float: left;
	padding-right: 10px .5%;
	background: #333;
	margin: 1%;
	width: 31%;
	color: white;
	border-radius: 5px;
}

.parts {
	clear:both;
	margin-top: 10px;
}

#maps {
	border-radius: 5px;
	margin-left: 30px;
	border: 1px solid gray;
	box-shadow: 0px 0px 2px blue;
	height: 450px;
	width: 600px;
}

